{% extends "myhome_base.html" %}
{% load avatar_tags i18n seahub_tags %}

{% block sub_title %}{% trans "Messages" %}{% if total_unread > 0%}({{total_unread}}){%endif%} - {% endblock %}

{% block main_panel %}
<h3>{% trans "Messages"%}</h3>
<button class="add add-msg">{% trans "Add Message"%}</button>
{% if msgs %}
<table>
    <tr>
        <th width="5%"></th>
        <th width="20%">{% trans "Email"%}</th>
        <th width="60%">{% trans "Message"%}</th>
        <th width="15%">{% trans "Time"%}</th>
    </tr>
    {% for key,value in msgs %}
    {% with not_read=value.not_read %}
    <tr data-href="{% url 'user_msg_list' key|id_or_email %}" class="{% if not_read > 0 %}bold{% endif %}">
        <td>{% avatar key 20 %}</td>       
        <td>{{ key }}{% if not_read > 0%}({{not_read}}){% endif %}</td>
        <td> {{ value.last_msg|truncatechars:60 }} </td>
        <td>{{  value.last_time|translate_seahub_time }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
</table>
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(function(){       
    $('*[data-href]').click(function(){
        window.location = $(this).data('href');
        return false;
    });
});
</script>
{% endblock %}
